* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    background: url(/rpg-challenge/assets/background-day.jpg) no-repeat center fixed;
    background-size: cover;
}

body {
    height: 100%;
    width: 100%;
    max-height: 1000px;
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 8.5fr 5fr;
    justify-items: center;
}

header {
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / 2;
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

#headerLogo {
    max-height: 100px;
    width: auto;
    grid-column: 2;
    grid-row: 1;
}

#heroChoose {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: center;
}

#enemyChoose {
    grid-column: 3;
    grid-row: 1;
    justify-self: right;
    align-self: center;
}

main {
    grid-column: 1;
    grid-row: 2 / 3;
    place-self: center;
    height: 100%;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8fr 2fr;
    justify-items: center;
}

#battleCharacters {
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 4.5fr 1fr 4.5fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

#heroCharacter {
    height: 100%;
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5fr 3fr 3fr 4fr 80fr 5fr;
    justify-items: center;
    justify-self: left;
}

#versus {
    height: 100%;
    grid-column: 2 / 3;
    grid-row: 1;
}

#versusLogo {
    height: 100px;
    width: auto;
}

#enemyCharacter {
    height: 100%;
    width: 100%;
    grid-column: 3 / 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5fr 3fr 3fr 4fr 80fr 5fr;
    justify-items: center;
    justify-self: right;
}

#heroNameContainer {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: center;
}

#heroRaceContainer {
    grid-column: 1;
    grid-row: 2;
    justify-self: left;
    align-self: center;
}

#heroItemContainer {
    grid-column: 1;
    grid-row: 3;
    justify-self: left;
    align-self: center;
}

#heroHPContainer {
    grid-column: 1;
    grid-row: 4;
    justify-self: left;
    align-self: center;
}

#heroPhotoContainer {
    grid-column: 1;
    grid-row: 5;
    justify-self: left;
    align-self: center;}

#heroPhoto {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#heroButtonContainer {
    grid-column: 1;
    grid-row: 6;
    justify-items: center;
    place-self: center;
}

#enemyNameContainer {
    grid-column: 1;
    grid-row: 1;
    justify-self: right;
    align-self: center;
}

#enemyRaceContainer {
    grid-column: 1;
    grid-row: 2;
    justify-self: right;
    align-self: center;
}

#enemyItemContainer {
    grid-column: 1;
    grid-row: 3;
    justify-self: right;
    align-self: center;
}

#enemyHPContainer {
    grid-column: 1;
    grid-row: 4;
    justify-self: right;
    align-self: center;
}

#enemyPhotoContainer {
    grid-column: 1;
    grid-row: 5;
    justify-self: right;
    align-self: center;
}

#enemyPhoto {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#enemyButtonContainer {
    grid-column: 1;
    grid-row: 6;
    justify-items: center;
    place-self: center;
}

.buttons {
    display: inline-block;
    background: black;
    margin: 2px 1px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#logContainer {
    height: 100%;
    width: 100%;
    padding: 10px;
    grid-column: 1;
    grid-row: 2 / 3;
    background: rgba(255, 255, 255, 0.3);
    overflow-y: auto;
}

footer {
    grid-column: 1;
    grid-row: 3 / 4;
    place-self: center;
}

/* MODAL SELECTOR */
/* MODAL BACKGROUND */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url(assets/background-modal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.4); /* BLACK WITH OPACITY */
    left: 0;
    top: 0;
    padding-top: 1vh;
    color: white;
    text-align: center;
    overflow: auto;
    line-height: 1.5;
  }
  
  /* MODAL CONTENT */
  .modal-content {
    width: 80%;
    background: rgba(0,0,0,0.5);
    margin: auto;
    padding: 10px;
    border: 10px solid white;
  }
  
  /* FIGHT BUTTON */
  .fight {    
    background: black;
    padding: 5px;
    margin-top: 20px;
    border: none; 
    border-radius: 5px;
    font-size: 20px;
    color: white;
  }
  
  .fight:hover, .fight:focus {
    background: green;
    text-decoration: none;
    cursor: pointer;
  }