* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    max-width: 800px;
    margin: auto;
}

#headerLogo {
    height: auto;
    max-width: 150px;
}

.btn:hover, .btn:focus {
    background: green;
    text-decoration: none;
    cursor: pointer;
}

#logContainer {
    background: rgba(255, 255, 255, 0.3);
    overflow-y: auto;
}

#versusLogo {
    height: auto;
    max-width: 150px;
    position: absolute;
    left: calc(50vw - 75px);
    top: calc(100vh / 3);
    z-index: 2;
}

/* MODAL BACKGROUND */
.modal {
    display: none;
    position: fixed;
    background-image: url(assets/background-modal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.4); /* BLACK WITH OPACITY */
    left: 0;
    top: 0;
    color: white;
    text-align: center;
    line-height: 1.5;
}
  
/* MODAL CONTENT */
.modal-content {
    background: rgba(0,0,0,0.5);
    border: 10px solid white;
}