* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10fr 85fr 5fr;
    justify-items: center;
}

header {
    height: 100px;
    width: 80%;
    max-width: 800px;
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

#headerLogo {
    height: 100px;
    width: auto;
    grid-column: 2;
    grid-row: 1;
}

#heroChoose {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: center;
    z-index: 10;
}

#enemyChoose {
    grid-column: 3;
    grid-row: 1;
    justify-self: right;
    align-self: center;
    z-index: 10;
}

#versusLogo {
    position: absolute;
    height: auto;
    max-width: 150px;
    margin-left: calc(50% - 75px);
    margin-top: calc(100vh/3);
}

main {
    height: 100%;
    width: 80%;
    max-width: 800px;
    max-height: 800px;
    grid-column: 1;
    grid-row: 2;
    place-self: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7fr 3fr;
    justify-items: center;
}

#battleCharacters {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: auto;
}

#heroCharacter {
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5fr 3fr 3fr 4fr 80fr 5fr;
    justify-self: left;
}

#enemyCharacter {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5fr 3fr 3fr 4fr 80fr 5fr;
    justify-self: right;
}

#heroNameContainer {
    grid-column: 1;
    grid-row: 1;
    justify-self: left;
    align-self: center;
}

#heroRaceContainer {
    grid-column: 1;
    grid-row: 2;
    justify-self: left;
    align-self: center;
}

#heroItemContainer {
    grid-column: 1;
    grid-row: 3;
    justify-self: left;
    align-self: center;
}

#heroHPContainer {
    grid-column: 1;
    grid-row: 4;
    justify-self: left;
    align-self: center;
}

#heroPhotoContainer {
    grid-column: 1;
    grid-row: 5;
    justify-self: left;
    align-self: center;}

#heroPhoto {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#heroButtonsContainer {
    grid-column: 1;
    grid-row: 6;
    justify-self: center;
    align-self: center;
    z-index: 10;
}

#enemyNameContainer {
    grid-column: 1;
    grid-row: 1;
    justify-self: right;
    align-self: center;
}

#enemyRaceContainer {
    grid-column: 1;
    grid-row: 2;
    justify-self: right;
    align-self: center;
}

#enemyItemContainer {
    grid-column: 1;
    grid-row: 3;
    justify-self: right;
    align-self: center;
}

#enemyHPContainer {
    grid-column: 1;
    grid-row: 4;
    justify-self: right;
    align-self: center;
}

#enemyPhotoContainer {
    grid-column: 1;
    grid-row: 5;
    justify-self: right;
    align-self: center;
}

#enemyPhoto {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#enemyButtonsContainer {
    grid-column: 1;
    grid-row: 6;
    justify-self: center;
    align-self: center;
    z-index: 10;
}

.buttons {
    display: inline-block;
    background: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

#logContainer {
    max-height: 140px;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    grid-column: 1;
    grid-row: 2;
    background: rgba(255, 255, 255, 0.3);
    overflow-y: auto;
}

footer {
    height: 50px;
    width: 100%;
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    place-self: center;
}

/* MODAL SELECTOR */

/* MODAL BACKGROUND */
.modal {
    display: none;
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-image: url(assets/background-modal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.4); /* BLACK WITH OPACITY */
    left: 0;
    top: 0;
    padding-top: 1vh;
    color: white;
    text-align: center;
    overflow: auto;
    line-height: 1.5;
  }
  
/* MODAL CONTENT */
  .modal-content {
    width: 80%;
    background: rgba(0,0,0,0.5);
    margin: auto;
    padding: 10px;
    border: 10px solid white;
  }
  
/* FIGHT BUTTON */
  .fight {    
    background: black;
    padding: 5px;
    margin-top: 20px;
    border: none; 
    border-radius: 5px;
    font-size: 20px;
    color: white;
  }
  
  .fight:hover, .fight:focus {
    background: green;
    text-decoration: none;
    cursor: pointer;
  }