* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100vw;
    background: black;
}

body {
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: auto;
    background-image: url(/rpg-challenge/assets/background-day.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: solid white 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 85% 5%;
    justify-items: center;
}

header {
    grid-column: 1;
    grid-row: 1 / 2;
    place-self: center;
}

header img {
    height: 100px;
    width: auto;
}

main {
    grid-column: 1;
    grid-row: 2 / 3;
    place-self: center;
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80% 20%;
    justify-items: center;
}

#battleCharacters {
    width: 80%;
    grid-column: 1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: auto;
    justify-items: center;
}

#firstCharacter {
    grid-column: 1 / 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% 5% 80% 10%;
    justify-items: center;
}

#versus {
    grid-column: 2 / 3;
    grid-row: 1;
}

#versusLogo {
    height: 150px;
    width: auto;
}

#secondCharacter {
    grid-column: 3 / 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5% 5% 80% 10%;
    justify-items: center;
}

#firstNameContainer {
    grid-column: 1;
    grid-row: 1 / 2;
    place-self: center;
}

#firstHPContainer {
    grid-column: 1;
    grid-row: 2 / 3;
    place-self: center;
}

#firstPhotoContainer {
    grid-column: 1;
    grid-row: 3 / 4;
    place-self: center;
}

#firstButtonContainer {
    grid-column: 1;
    grid-row: 4 / 5;
    justify-items: center;
    place-self: center;
}

#secondNameContainer {
    grid-column: 1;
    grid-row: 1 / 2;
    place-self: center;
}

#secondHPContainer {
    grid-column: 1;
    grid-row: 2 / 3;
    place-self: center;
}

#secondPhotoContainer {
    grid-column: 1;
    grid-row: 3 / 4;
    place-self: center;
}

#secondButtonContainer {
    grid-column: 1;
    grid-row: 4 / 5;
    justify-items: center;
    place-self: center;
}

.buttons {
    display: inline-block;
    background: black;
    border: none;
    margin: 2px 1px;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

#battleLog {
    width: 80%;
    grid-column: 1;
    grid-row: 2 / 3;
    background: rgba(255, 255, 255, 0.3)
}

footer {
    grid-column: 1;
    grid-row: 3 / 4;
    place-self: center;
}