* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100vh;
    max-width: 800px;
    margin: auto;
}

main {
    height: calc(100vh - 130px);
}

.btn {
    z-index: 5;
}

.btn:hover, .btn:focus {
    background: green;
    text-decoration: none;
    cursor: pointer;
}

#headerLogo {
    height: auto;
    max-width: 150px;
}

#versusLogo {
    height: auto;
    max-width: 150px;
    position: absolute;
    left: calc(50vw - 75px);
    top: calc(100vh / 3);
    z-index: 2;
}

#heroPhoto, #enemyPhoto {
    max-height: 400px;
}

.heroWins, .enemyWins {
    display: none;
}

#heroWinsPhoto, #enemyWinsPhoto {
    max-height: 300px;
    margin: auto;
}

footer {
    margin-top: auto;
}

@media only screen and (max-width: 576px) {
    h1, h2, h3, h4, h5, p, label, select {
        font-size: 0.8em;
    }

    select {
        width: 100%;
    }

    .btn {
        font-size: 0.6em;
    }

    #heroChoose, #enemyChoose {
        font-size: 0.5em;
        padding: 1px;
    }

    #fightHero, #fightEnemy {
        font-size: 1em;
        margin: auto;
    }

    #headerLogo {
        height: auto;
        max-width: 100px;
    }

    #versusLogo {
        max-width: 100px;
        left: calc(50vw - 50px);
    }

    #heroPhoto, #enemyPhoto {
        max-height: 200px;
    }

    #heroWinsPhoto, #enemyWinsPhoto {
        max-height: 150px;
        margin: auto;
    }

    #heroHPContainer, #enemyHPContainer {
        white-space: nowrap;
        margin-bottom: 5px;
    }

    #battleCharacters {
        min-height: 50vh;
    }

    #logContainer {
        min-height: 20vh;
    }

    #battleLog {
        margin-top: 5px;
    }
}  

#battleCharacters {
    height: calc(80vh - 130px);
    margin: auto;
}

#logContainer {
    height: 15vh;
    margin: auto;
    background: rgba(255, 255, 255, 0.3);
    overflow-y: scroll;
}

/* MODAL BACKGROUND */
.modal {
    display: none;
    position: fixed;
    background-image: url(assets/background-modal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.4); /* BLACK WITH OPACITY */
    left: 0;
    top: 0;
    color: white;
    text-align: center;
    line-height: 1.5;
}
  
/* MODAL CONTENT */
.modal-content {
    background: rgba(0,0,0,0.5);
    border: 10px solid white;
}